In [27]:
import pandas as pd
import os
import pickle as pkl
from pprint import pprint

In [2]:
os.chdir("../../")

In [3]:
feature_importance_dir = "output/feature_importance"

In [4]:
df = pd.DataFrame()
names = None

for file in os.listdir(feature_importance_dir):
    feature_list = pkl.load(open(os.path.join(feature_importance_dir, file), "rb"))
    if not names:
        names = list(feature_list.keys())
        df = pd.concat([df, pd.DataFrame({"name": names})], axis=1)

    temp = pd.DataFrame({file: [feature_list[name] for name in names]})
    df = pd.concat([df, temp], axis=1)

In [5]:
df.head(10)

,name,0_0.pkl,0_1.pkl,0_2.pkl,0_3.pkl,0_4.pkl,1_0.pkl,1_1.pkl,1_2.pkl,1_3.pkl,...,3_0.pkl,3_1.pkl,3_2.pkl,3_3.pkl,3_4.pkl,4_0.pkl,4_1.pkl,4_2.pkl,4_3.pkl,4_4.pkl
0,paragraph_error_count_mean,5,10,9,13,5,2,5,5,6,...,4,3,1,0,2,4,1,2,2,4
1,paragraph_error_count_min,1,2,3,4,2,1,0,1,0,...,0,0,0,0,2,1,1,1,0,0
2,paragraph_error_count_max,1,1,2,0,6,3,0,0,0,...,2,0,0,0,2,3,1,0,0,1
3,paragraph_error_count_sum,1,1,3,6,1,0,1,0,1,...,0,2,0,1,1,2,2,0,0,1
4,paragraph_error_count_first,8,5,3,3,2,9,11,19,15,...,1,5,5,4,2,2,2,10,8,4
5,paragraph_error_count_last,4,15,4,7,5,8,7,3,5,...,5,3,2,2,7,9,4,2,10,1
6,paragraph_char_count_mean,16,14,21,16,26,26,19,19,18,...,21,20,21,15,21,26,24,14,13,28
7,paragraph_char_count_min,3,3,2,0,9,1,6,3,5,...,3,8,0,2,4,9,5,5,6,2
8,paragraph_char_count_max,16,18,19,14,24,19,17,17,12,...,14,21,8,14,13,22,21,12,16,19
9,paragraph_char_count_sum,100,103,119,110,108,86,93,100,99,...,85,114,106,95,103,86,106,108,109,119

In [6]:
df["importance"] = df.loc[:, "0_0.pkl":].sum(axis=1)
df.sort_values(by="importance", ascending=False, inplace=True)

Top 10 most important features

In [7]:
df.head(10)

,name,0_0.pkl,0_1.pkl,0_2.pkl,0_3.pkl,0_4.pkl,1_0.pkl,1_1.pkl,1_2.pkl,1_3.pkl,...,3_1.pkl,3_2.pkl,3_3.pkl,3_4.pkl,4_0.pkl,4_1.pkl,4_2.pkl,4_3.pkl,4_4.pkl,importance
22044,score_prob_0,262,264,246,253,264,242,246,266,248,...,298,281,289,282,277,273,273,272,282,6850
22046,score_prob_2,178,164,176,171,176,176,181,173,184,...,207,218,197,216,153,153,167,174,186,4642
22049,score_prob_5,155,162,146,170,147,184,178,181,171,...,196,200,196,205,164,155,171,173,168,4192
22045,score_prob_1,129,131,136,134,141,133,126,143,144,...,148,138,149,143,146,151,150,151,151,3462
22048,score_prob_4,117,121,140,119,128,135,116,135,141,...,143,134,137,115,132,125,128,120,125,3325
22047,score_prob_3,128,118,115,102,114,118,127,115,105,...,113,107,106,105,99,91,127,114,99,2824
9,paragraph_char_count_sum,100,103,119,110,108,86,93,100,99,...,114,106,95,103,86,106,108,109,119,2521
139,sentence_word_count_sum,86,93,101,112,111,94,93,91,100,...,107,103,90,109,104,103,91,84,88,2452
133,sentence_char_count_sum,111,79,91,90,97,81,96,85,104,...,104,105,93,91,92,92,89,94,110,2347
15,paragraph_word_count_sum,92,89,103,93,97,88,102,87,81,...,90,93,96,103,87,87,95,87,70,2310

Top 10 least important features

In [8]:
df.tail(10)

,name,0_0.pkl,0_1.pkl,0_2.pkl,0_3.pkl,0_4.pkl,1_0.pkl,1_1.pkl,1_2.pkl,1_3.pkl,...,3_1.pkl,3_2.pkl,3_3.pkl,3_4.pkl,4_0.pkl,4_1.pkl,4_2.pkl,4_3.pkl,4_4.pkl,importance
16306,tfidf_16059,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16305,tfidf_16058,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16304,tfidf_16057,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16300,tfidf_16053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8241,tfidf_7994,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,paragraph_word_count_len_l_150,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16296,tfidf_16049,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8244,tfidf_7997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16294,tfidf_16047,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,sentence_word_count_len_l_50,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
print("Number of features with 0 importance:", df.loc[df.importance == 0].name.count())

Number of features with 0 importance: 6862

In [26]:
threshold = 500
print(f"Number of features more than {threshold} importance:", df.loc[df.importance > threshold].name.count())
print(f"Features more than {threshold} importance:\n")
pprint(df.loc[df.importance > threshold].name.to_list())

Number of features more than 500 importance: 34
Features more than 500 importance:
 ['score_prob_0', 'score_prob_2', 'score_prob_5', 'score_prob_1', 'score_prob_4', 'score_prob_3', 'paragraph_char_count_sum', 'sentence_word_count_sum', 'sentence_char_count_sum', 'paragraph_word_count_sum', 'paragraph_sentence_count_max', 'paragraph_sentence_count_len_l_15', 'paragraph_word_count_last', 'paragraph_sentence_count_last', 'paragraph_char_count_last', 'paragraph_sentence_count_len_goe_15', 'tfidf_311', 'tfidf_3945', 'sentence_error_count_len_l_15', 'word_char_count_mean', 'paragraph_sentence_count_len_l_5', 'paragraph_char_count_q3', 'tfidf_count_257', 'sentence_word_count_len_l_20', 'paragraph_word_count_max', 'tfidf_count_67', 'paragraph_sentence_count_len_goe_5', 'tfidf_3105', 'tfidf_183', 'paragraph_word_count_q3', 'sentence_error_count_len_goe_15', 'tfidf_878', 'paragraph_char_count_mean', 'paragraph_word_count_mean']

In [12]:
binned_importance_df = df.groupby(by="importance")["name"].count()
binned_importance_df

importance
0       6862
1       4154
2       2607
3       1726
4       1214
        ...
3325       1
3462       1
4192       1
4642       1
6850       1
Name: name, Length: 268, dtype: int64